@use '../utils/_variables' as *; 
  

.heading_fp {

    position: relative;
    
    h1 {
        margin: 0;
    }

    & > .wrapper {
        padding-bottom: calc(var(--sec-sp-y) + 15rem);
    }

    .realTime_schedule  {

        span:not(.icon) {
            font-size: var(--font-fs-h2);
        }

        & > small {
            display: block;
        }
    }

    &-bg {

        position: absolute;
        top: calc(100% - 100vw);
        right: 0;
        width: 100vw;
        height: 100vw;

        z-index: -1;

        transform: rotate(90deg);
        
        &-svg, & > .imgWrap {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            // transform: rotate(90deg);
        }

        &-svg {
            z-index: -1;
        }
    }

    &-header {
        p:first-child {
            margin: 0;
            color: $primary;
            font-size: 2rem;
        }

        display: flex;
        flex-direction: column;

        .lang { 
            order: -2;
        }

        .social-links {
            order: -1;
            margin-bottom: var(--card-spacing);
        }
    }

    &-content {

        max-width: 550px;
        margin-top: var(--sec-sp-y);
        
        &-actions {
            
            margin-top: var(--card-spacing);

            display: grid;
            gap: calc(var(--list-gap) * 0.5);

            a.card {
                display: flex;
                justify-content: space-between;

                background-color: $primary;
                color: $white;

                small {
                    font-size: var(--font-fs-base);
                    font-weight: $regular;
                }

                .icon {
                    position: relative;
                    z-index: 1;
                    color: $white;
                }
            }

            .btn-group {
                margin: 0;
                box-shadow: $shadow;
            }
        }
    }
}

@media (min-width : $bp-lg) {
    .heading_fp {

        
        & > .wrapper {
            min-height: 90vh;
            padding-top: 0!important;
            padding-bottom: 0!important;
            align-content: center;
        }

        &-bg {
            top: 0;
            height: 100%;
            width: 50vw;
            transform: inherit;
        }

        &-content-actions {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: var(--list-gap);

            a.card {
                grid-row: 1 / 4;
            }

            .btn-group {
                background-color: $light;

                height: 100%;
                box-shadow: none;
            }
        }
    }   
}
