/////////////////////////
///// COOKIE BANNER /////
/////////////////////////

@use '../../utils/variables' as *;

.cookie-banner.card.card-body {
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: var(--header-b-nav-height);
    z-index: 10000;

    margin: calc(var(--sec-sp-x) * 0.5);

    display: flex!important;

    width: calc(100vw - var(--sec-sp-x));
    max-width: 550px;
    height: auto;
    

    opacity: 0;

    transform: translateY(100%);
    pointer-events: none;
    transition: all $fast $bezier;

    #cookie-consent-label-necessary {
        pointer-events: none;
    }

    .btn-group {
        margin-left: calc(var(--card-spacing) * -1);
        margin-bottom: calc(var(--card-spacing) * -1);
        width: calc(100% + (var(--card-spacing) * 2));

        padding: 0;

        background-color: $light;
        border-radius: 0;

        gap: 1px;
        justify-content: stretch;

        .btn {
            padding: 1.5rem 1rem;
            border-radius: 0;
        }

        .js--acceptAllCookies {
            background-color: $primary;
            color: $white;
        }

        .btn-white {
            background-color: $white;
        }
    }
}

.cookie-banner > div[data-page] {
    display: none;
    animation: appear $fast $bezier;
}
.cookie-banner[data-page="welcome"] > div[data-page="welcome"] { display: block; }
.cookie-banner[data-page="edit"] > div[data-page="edit"] { display: block; }

body.cookie-banner--open {
    .cookie-banner.card.card-body {
        transform: translateY(0);
        pointer-events: all;
        opacity: 1;
    }
}

@media (min-width : $bp-md) {
    .cookie-banner.card.card-body {
        left: 3rem;
        margin-bottom: 3rem;
    }
}

@media (min-width : $bp-lg) {
    .cookie-banner.card.card-body {
        left: 3rem;
        bottom: 3rem;
    }
}
