@use '../../utils/variables' as *;

@keyframes popup-timer {
    from { width: 0%; }
    to { width: 100%; }
}

.popup {
    position: fixed;
    overflow: hidden;
    top: calc(var(--header-title-height) + var(--menu-nav-cat-height) + var(--card-spacing));
    left: var(--card-spacing);

    width: calc(100vw - (var(--card-spacing) * 2));
    height: auto;

    padding-bottom: calc(var(--card-spacing) + 3px);

    opacity: 0;
    pointer-events: none;
    transform: translateY(3rem);

    transition: all $fast $bezier;

    &-timer {
        width: 100%;
        height: 3px;
        background-color: $primary;

        position: absolute;
        bottom: 0;
        left: 0;
    }

    strong {
        color: $primary;
    }
}

body.popup--transaction--open {
    .popup--transaction{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);

        .popup-timer {
            animation: popup-timer 7s linear;
        }
    }
}