{% set current_day_num = "now"|date("N") %}
{% set current_time = "now"|date("H:i") %}

{% set day_slug = {
    1: "monday",
    2: "thuesday",
    3: "wednesday",
    4: "thursday",
    5: "friday",
    6: "saturday",
    7: "sunday"
} %}


{% if schedules.is_closed == false %}

{# Check if today's day is open or not #}
{% set is_open = false %}
{% set next_hour = "" %}

{% if schedules[day_slug[current_day_num]] is not empty %}
    {% for schedule in schedules[day_slug[current_day_num]] %}
        {% set open_time = schedule.opening %}
        {% set close_time = schedule.closing %}

        {# Check if currently within opening hours #}
        {% if current_time >= open_time and current_time < close_time %}
            {% set is_open = true %}
            {% set next_hour = close_time %}
        {% endif %}

        {# If currently closed, check for the next opening time today #}
        {% if current_time < open_time and (next_hour is null or open_time < next_hour) %}
            {% set next_hour = open_time %}
        {% endif %}
    {% endfor %}
{% endif %}

{# Fallback to the next day's opening time if no more openings today #}
{% if not is_open and next_hour is empty %}
    {% for i in range(1, 7) %}
        {% if next_hour is empty %}
        {% set next_day = day_slug[(current_day_num % 7) + i] %}
        {% if schedules[next_day] is not empty %}
            {% set next_hour = schedules[next_day][0].opening %}
        {% endif %}
        {% endif %}

    {% endfor %}
{% endif %}

{% else %}
{# If "Is closed" condition is checked, set bool to false and ignore the precedent data recuperation method #}
{% set is_open = false %}
{% endif %}






{# Affichage de l'état du restaurant #}
{% set status = is_open ? pll('ouvert') : pll('fermé') %}
{% set classes = is_open ? 'btn-succes' : 'btn-failed' %}
{% set status = pll('Nous sommes ', 'Non editable strings') ~ "<strong> " ~ status  ~ " </strong>" %}


{# If Closed is true then set other strings #}
{% if schedules.is_closed == false %}

    {% set text = is_open ? pll("Fermeture") : pll("Ouverture") %}
    {% set text = text ~ pll(' à ') ~ next_hour %}

{% else %}

    {% set text = schedules.is_closed_text is not empty ? schedules.is_closed_text : pll('Nous sommes momentanément fermés.' ) %}

{% endif %}

<span class="realTime_schedule">
    <span class="realTime_schedule-btn btn {{ classes }}">
        <span class="icon">{% include "assets/static/svg/icons/clock.svg" %}</span>
        <span>{{ status }}</span>
    </span>

    <small>{{ text }}</small>
</span>
